<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc79ac13-1cac-4706-a6c2-cd4cda727695" Alias="basket" Level="1">
  <Info>
    <Name>Basket</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="31aa760f-7f81-4ee2-b51b-dad578ecb52c">meta</Composition>
    </Compositions>
    <DefaultTemplate>Basket</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7fbf1d4c-dc3f-4694-a5f4-55b040d8a5c4">Basket</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>