<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="157dfa7b-697b-4d90-b79c-acb16d52655e" Alias="basket" Level="1">
  <Info>
    <Name>Basket</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="190e22cb-b789-4aed-94d0-ee68c9d91691">meta</Composition>
    </Compositions>
    <DefaultTemplate>Basket</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8595e0dc-1386-4e2a-83c3-e332e6d3f613">Basket</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>