<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="656bc4b2-e6a5-47a6-82ec-9a1087e0e96d" Alias="category" Level="1">
  <Info>
    <Name>Category</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="190e22cb-b789-4aed-94d0-ee68c9d91691">meta</Composition>
    </Compositions>
    <DefaultTemplate>Category</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="233eba0c-f8cb-4cda-b283-6df5aa705719">Category</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9a090d66-7231-40d9-adfd-59c550dd67a5</Key>
      <Name>Collection</Name>
      <Alias>collection</Alias>
      <Definition>0b2814cc-cd17-4944-a2f7-efd74c1bd3fc</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6fb3b5b0-037a-4a68-8f9b-a908775800f9</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>