<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="35825464-b340-4da9-a545-f82897300d17" Alias="example" Level="1">
  <Info>
    <Name>Example</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6f029212-69df-458c-81dd-9eb171632e3f</Key>
      <Name>Another</Name>
      <Alias>another</Alias>
      <Definition>5536289f-5853-4f55-86e5-b6e567073aef</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a label above full width]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00f68b15-eac4-4816-bd7f-cab60afef8ad</Key>
      <Name>Example One</Name>
      <Alias>exampleOne</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a description]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ebb86bae-826c-4019-acfb-b9067f77a0c8</Key>
      <Name>TestingToo</Name>
      <Alias>testingToo</Alias>
      <Definition>f38f0ac7-1d27-439c-9f3f-089cd8825a53</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[fgh dghfgh dfgh fgh]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="variants">Variants</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5cedde5d-fb68-4ded-8a7e-310abbf1775e</Key>
      <Caption>Variants</Caption>
      <Alias>variants</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>66880c4b-b70b-4fb2-81da-4c851683a341</Key>
      <Caption>Details</Caption>
      <Alias>details</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>