<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d057d534-2f7e-4203-8ad7-afcfe4806b14" Alias="website" Level="1">
  <Info>
    <Name>Website</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8afcd0e2-ce09-42f1-91c1-59f26230e565">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f4b19d7d-9a2e-4be8-8fbe-2c848965e330" SortOrder="0">basket</ContentType>
    <ContentType Key="6dd77907-d7ff-48ba-aabd-b6be1706e436" SortOrder="1">category</ContentType>
    <ContentType Key="ab326b85-3132-49ee-a6f1-32b9da80a247" SortOrder="2">home</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8a2623e6-2324-4299-8dc4-2820890269af</Key>
      <Name>Umbraco Internal Redirect Id</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f02f41a4-ffbf-4476-bd99-a1c2c484e9ea</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>