<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80313e09-2787-4d9e-a589-e15dcbff5d23" Alias="website" Level="1">
  <Info>
    <Name>Website</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="11f4e102-56c9-47f1-a7c0-241015d88dbb">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cc79ac13-1cac-4706-a6c2-cd4cda727695" SortOrder="0">basket</ContentType>
    <ContentType Key="12a1a471-c46c-45f2-8383-d6b806e2967f" SortOrder="1">category</ContentType>
    <ContentType Key="1ad301d6-b3a0-49d8-b37c-27ce9c1dea8c" SortOrder="2">home</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>28e498d5-deff-43c1-9585-e73a53158ee9</Key>
      <Name>Umbraco Internal Redirect Id</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>43bf49a5-5e1f-4d51-b1ba-176b2c50277f</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>