<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07d45b00-ca5e-468a-bc60-d10cc7c8a823" Alias="website" Level="1">
  <Info>
    <Name>Website</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="67d29d6c-9c98-4433-bc30-95fe77f9becd">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="157dfa7b-697b-4d90-b79c-acb16d52655e" SortOrder="0">basket</ContentType>
    <ContentType Key="656bc4b2-e6a5-47a6-82ec-9a1087e0e96d" SortOrder="1">category</ContentType>
    <ContentType Key="e26ab9db-1cbf-4cb6-9056-0ba2ad1090b1" SortOrder="2">home</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7e7fe52f-9350-4cd5-8b9d-0fed7a50a7e0</Key>
      <Name>Umbraco Internal Redirect ID</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1d0f7b26-c733-434d-8509-52f0d7701d88</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>