<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bf011f0-671a-4488-b3e7-4296067c70ad" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="b3803bd0-651a-477e-b079-4ab0faa0e644">Merchello</Parent>
    <Path>/Merchello/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-06T15:11:19</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3380-af53-7e77-ae44-9246781ebbe9">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[81d704d8-02a7-44bf-aa75-22b02cbe0f38]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>