<?xml version="1.0" encoding="utf-8"?>
<Content Key="c45f1df4-f6c0-4056-ab25-cedea45d623f" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="196c06ee-afb2-466a-aa64-8453e9b67c7f">Merchello</Parent>
    <Path>/Merchello/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-02T15:00:45</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c1edd-4924-708d-b50d-5f128860520e">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[03aa5b37-0c47-4516-8743-1a60ff1743f6]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>