<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe6e1299-9578-4384-8ff9-d7c403fdb600" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="6a35813d-2241-46fc-930c-3aa463bcf083">Website</Parent>
    <Path>/Website/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-04T07:24:01</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c2788-7bc2-7478-adce-ab5726fd6ef9">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[2ce59c0f-7106-418a-b35c-6e803f2ef519]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>