<?xml version="1.0" encoding="utf-8"?>
<Content Key="737f7631-e722-4441-82e9-4d4c2b9aaa20" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="3f13466d-bb35-401e-b5f9-fc3378081003">Merchello</Parent>
    <Path>/Merchello/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-10T14:31:47</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="579eb0fa-e73e-438f-b03c-7f4282c44f34">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[87f05bb2-6967-4274-a6f6-a9e2f01b0c80]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>