<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f4d5eb7-c0c5-49a7-9e29-2ec3ab63653d" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="ae449aa0-764f-4d85-8f60-cc9deb7c5424">Merchello</Parent>
    <Path>/Merchello/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-12T11:06:05</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0daf9e9d-2987-4629-8a5b-4d31cb1918a7">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[56626ae8-ef4a-4364-a908-f972ec236d03]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>