<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1ac086c-43a5-4d60-9d1c-553bb6168127" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="f3e4234e-eaab-413e-9f65-21ba15157ee6">Website</Parent>
    <Path>/Website/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-05T15:17:16</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="233eba0c-f8cb-4cda-b283-6df5aa705719">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[1877aaf2-2625-4c0d-95f2-c1f8afa6c8b9]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>