<?xml version="1.0" encoding="utf-8"?>
<Content Key="98e1673e-6cd9-466f-8942-2cdbbf58f43f" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="69c8ef21-434d-455a-a877-b13aad7e3c50">Website</Parent>
    <Path>/Website/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-08T07:39:00</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3c2f-44a7-75dd-9118-9a3f68da9348">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[edfd7108-179f-4b13-a7ad-7b9bd0d29b09]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>