<?xml version="1.0" encoding="utf-8"?>
<Content Key="53a92a15-3368-4bce-84a6-e41de7302441" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="b03f5244-4fce-4a5e-ab5e-035d368de37b">Merchello</Parent>
    <Path>/Merchello/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-03T07:51:58</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8c26e239-94e7-48be-829b-974824a7b19d">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[9143eaf7-1913-4aa5-aac2-33af27499732]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>