<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe641fd9-70b3-4634-9416-96f1019f1f7e" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="aee52c84-a9ce-445b-9290-7c4c1722f5f9">Website</Parent>
    <Path>/Website/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-11T13:42:49</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="53887691-e41c-4e94-bfae-0aa6c2199aae">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[efe5d067-a47e-4965-8182-d451ef2979bc]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>