<?xml version="1.0" encoding="utf-8"?>
<Content Key="78bfd8a2-5d44-4a69-a56b-4107a66dd8cb" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="a84d1432-dc43-4944-9c9c-22b07902c3ee">Website</Parent>
    <Path>/Website/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-09T16:51:51</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="96f773e6-0aec-4199-a605-c9432b263a18">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[36e4a895-f882-4369-865b-c22da2671ec6]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>