<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0b5226c-c76f-4ad0-89e9-7aee9589fb9d" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="0bb53893-ef64-40c7-903a-441299440c77">Website</Parent>
    <Path>/Website/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-06T13:12:57</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="59bfbf92-f0b8-4c95-827e-c70d5e0fd323">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[c9bc03a9-45fc-4a52-86e0-097155160145]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>