<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cb4ed68-6918-49c2-bdab-71d0eb268f95" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="990ebcee-1634-4843-912c-dd7d0cdaf0b1">Merchello</Parent>
    <Path>/Merchello/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-09T15:53:22</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c431a-3752-7920-b04f-7db46db4a8f6">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[03644aec-d04a-4f59-b388-8e434a7db5ea]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>