<?xml version="1.0" encoding="utf-8"?>
<Content Key="32dbf52d-915e-4e63-a977-47872c4424a4" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="196c06ee-afb2-466a-aa64-8453e9b67c7f">Merchello</Parent>
    <Path>/Merchello/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-02T15:01:02</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c1edd-4924-708d-b50d-5f128860520e">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[778c0cf2-d8f3-4e9c-88a0-cf18f17ce737]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>