<?xml version="1.0" encoding="utf-8"?>
<Content Key="45e82313-708d-4c33-b37a-d8edf58a0119" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="69c8ef21-434d-455a-a877-b13aad7e3c50">Website</Parent>
    <Path>/Website/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-08T07:39:13</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3c2f-44a7-75dd-9118-9a3f68da9348">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[72d4f200-2cab-46e0-a3ac-2fa15f8a2996]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>