<?xml version="1.0" encoding="utf-8"?>
<Content Key="b485ec08-1bc8-45c6-8f84-2c1e2146d761" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="aee52c84-a9ce-445b-9290-7c4c1722f5f9">Website</Parent>
    <Path>/Website/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-11T13:43:01</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="53887691-e41c-4e94-bfae-0aa6c2199aae">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[e59d3a9d-7f30-45d1-acfc-08a8b58db5cd]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>