<?xml version="1.0" encoding="utf-8"?>
<Content Key="9dc85d74-786f-48c6-b5c9-e0d3026ccd91" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="ae449aa0-764f-4d85-8f60-cc9deb7c5424">Merchello</Parent>
    <Path>/Merchello/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-12T11:06:17</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0daf9e9d-2987-4629-8a5b-4d31cb1918a7">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[20102d84-2ee2-43ba-b0c4-92d91a3e04ca]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>