<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac516e10-434b-477a-b85c-eaa28b2a3885" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="b03f5244-4fce-4a5e-ab5e-035d368de37b">Merchello</Parent>
    <Path>/Merchello/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-03T07:52:12</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8c26e239-94e7-48be-829b-974824a7b19d">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[066cf495-84ba-4cf3-820b-2ea4aed2be3e]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>