<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7662b71-31ee-40fb-8701-8a9640ca9bd6" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="6a35813d-2241-46fc-930c-3aa463bcf083">Website</Parent>
    <Path>/Website/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-04T07:24:17</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c2788-7bc2-7478-adce-ab5726fd6ef9">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[127bc042-e3b5-4c7c-9928-9b8a9a859ee3]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>