<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f26ea8c-ca8b-4234-aacb-2eb3de6512c5" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="a84d1432-dc43-4944-9c9c-22b07902c3ee">Website</Parent>
    <Path>/Website/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-09T16:52:03</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="96f773e6-0aec-4199-a605-c9432b263a18">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[d2244919-9d3f-41b2-b850-c7c7a71c9fb3]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>