<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c8bbd88-0e13-4caa-b58b-9b9c6570d6b6" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="0bb53893-ef64-40c7-903a-441299440c77">Website</Parent>
    <Path>/Website/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-06T13:13:10</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="59bfbf92-f0b8-4c95-827e-c70d5e0fd323">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[33946921-513f-49fe-b115-68788856388f]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>