<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7efa493-4f67-4409-8bd4-ba5403f7e302" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="990ebcee-1634-4843-912c-dd7d0cdaf0b1">Merchello</Parent>
    <Path>/Merchello/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-09T15:53:35</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c431a-3752-7920-b04f-7db46db4a8f6">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[e0541b5f-087b-4cfe-9d86-99234b890f52]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>