<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4d0afff-8919-440f-89c0-9b632d13bea1" Alias="Basket" Level="2">
  <Info>
    <Parent Key="3f13466d-bb35-401e-b5f9-fc3378081003">Merchello</Parent>
    <Path>/Merchello/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-01-10T14:32:33</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="60996bf0-5e53-41d6-a342-e4fad97a2956">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>