<?xml version="1.0" encoding="utf-8"?>
<Content Key="488d5fa6-f359-49b9-b6c1-1bc70e15fe85" Alias="Basket" Level="2">
  <Info>
    <Parent Key="ae449aa0-764f-4d85-8f60-cc9deb7c5424">Merchello</Parent>
    <Path>/Merchello/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-01-12T11:06:50</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4ffadaa9-8193-4a85-a754-17473c1e13e0">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>