<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4ee5033-f9b1-4834-af0e-1617c7700eb5" Alias="Basket" Level="2">
  <Info>
    <Parent Key="0bb53893-ef64-40c7-903a-441299440c77">Website</Parent>
    <Path>/Website/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-01-06T13:13:47</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b8818fb0-e998-4b06-b7fe-44b92cadaa1c">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>