<?xml version="1.0" encoding="utf-8"?>
<Content Key="760b82c8-b88b-4ee4-9293-fdf94cd17d8a" Alias="Basket" Level="2">
  <Info>
    <Parent Key="f3e4234e-eaab-413e-9f65-21ba15157ee6">Website</Parent>
    <Path>/Website/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-01-05T15:17:49</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8595e0dc-1386-4e2a-83c3-e332e6d3f613">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>