<?xml version="1.0" encoding="utf-8"?>
<Content Key="128e6dde-0dd6-4a7b-b423-b5635df08975" Alias="Basket" Level="2">
  <Info>
    <Parent Key="990ebcee-1634-4843-912c-dd7d0cdaf0b1">Merchello</Parent>
    <Path>/Merchello/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-02-09T15:54:22</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c431a-7d7d-7625-a91e-af6048082cb0">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>