<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7ec6469-a26f-43bd-958c-42cfa82ec131" Alias="Basket" Level="2">
  <Info>
    <Parent Key="aee52c84-a9ce-445b-9290-7c4c1722f5f9">Website</Parent>
    <Path>/Website/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-01-11T13:43:34</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7fbf1d4c-dc3f-4694-a5f4-55b040d8a5c4">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>