<?xml version="1.0" encoding="utf-8"?>
<Content Key="49bda4be-ed95-4d82-875b-399ca65f32d6" Alias="Basket" Level="2">
  <Info>
    <Parent Key="b3803bd0-651a-477e-b079-4ab0faa0e644">Merchello</Parent>
    <Path>/Merchello/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-02-06T15:12:12</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3381-1b6a-7ec5-aae8-c4a93d1bce4b">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>