<?xml version="1.0" encoding="utf-8"?>
<Content Key="1be89d8c-ba52-4258-b28d-3dba45b71fad" Alias="Basket" Level="2">
  <Info>
    <Parent Key="a84d1432-dc43-4944-9c9c-22b07902c3ee">Website</Parent>
    <Path>/Website/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-01-09T16:52:41</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86322d31-7ac0-411c-9995-62b08180d460">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>