<?xml version="1.0" encoding="utf-8"?>
<Content Key="2fedace9-b728-4267-aa66-cb173e66c09d" Alias="Basket" Level="2">
  <Info>
    <Parent Key="6a35813d-2241-46fc-930c-3aa463bcf083">Website</Parent>
    <Path>/Website/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-02-04T07:24:49</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c2788-a2a0-7bb7-9f68-718f0af8f5dc">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>