<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd592b16-0bdd-410f-a8eb-d4d7e3502540" Alias="Basket" Level="2">
  <Info>
    <Parent Key="69c8ef21-434d-455a-a877-b13aad7e3c50">Website</Parent>
    <Path>/Website/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-02-08T07:40:04</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3c2f-9e15-7023-b4b7-656da6894d61">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>