<?xml version="1.0" encoding="utf-8"?>
<Content Key="7db183dc-7676-4214-8eb3-740daf64d9e9" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="5740336d-ee41-4c37-a605-876265454ba3">Merchello</Parent>
    <Path>/Merchello/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-12-26T10:40:16</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="871913c1-9afe-4edd-bbc0-28e04b16f1dc">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[e4828fbe-c9cd-441f-97d5-a90028247972]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>