<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea2d6d4f-fdd5-48ef-8001-eb0bfe1d6423" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="f3e4234e-eaab-413e-9f65-21ba15157ee6">Website</Parent>
    <Path>/Website/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-05T15:17:39</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="233eba0c-f8cb-4cda-b283-6df5aa705719">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[53aeeb61-b3e1-427c-9a08-2d3dd7f12938]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>