<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcc529d3-8f92-4b13-91f4-3b1c64df532e" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="b3803bd0-651a-477e-b079-4ab0faa0e644">Merchello</Parent>
    <Path>/Merchello/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-06T15:11:50</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3380-af53-7e77-ae44-9246781ebbe9">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[e8398e2a-e49c-4cbb-8932-b3fdf205e709]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>