<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbc48671-0979-4f13-a7b3-0892df10c4bb" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="0bb53893-ef64-40c7-903a-441299440c77">Website</Parent>
    <Path>/Website/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-06T13:13:25</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="59bfbf92-f0b8-4c95-827e-c70d5e0fd323">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[e7ec34bb-9bf0-4763-af9f-79272ad8ef53]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>