<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ae83130-ea6e-406c-a35a-b68fabc33919" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="990ebcee-1634-4843-912c-dd7d0cdaf0b1">Merchello</Parent>
    <Path>/Merchello/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-09T15:54:01</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c431a-3752-7920-b04f-7db46db4a8f6">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[06b8bb39-b93e-419d-bc97-c98d7d6b00e5]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>