<?xml version="1.0" encoding="utf-8"?>
<Content Key="bba1ddfa-85dc-4e78-969b-58d6ad36febc" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="aee52c84-a9ce-445b-9290-7c4c1722f5f9">Website</Parent>
    <Path>/Website/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-11T13:43:12</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="53887691-e41c-4e94-bfae-0aa6c2199aae">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[596be356-6bca-43fc-baa6-9a564bf55e06]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>