<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ff1afcb-f544-4c63-a62d-951450f372e2" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="6a35813d-2241-46fc-930c-3aa463bcf083">Website</Parent>
    <Path>/Website/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-04T07:24:28</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c2788-7bc2-7478-adce-ab5726fd6ef9">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[3c52104b-5c49-46c4-a89a-905420feb621]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>