<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fb8336f-41d3-454e-b0a1-0bc3477182ef" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="69c8ef21-434d-455a-a877-b13aad7e3c50">Website</Parent>
    <Path>/Website/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-08T07:39:28</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3c2f-44a7-75dd-9118-9a3f68da9348">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[19afb4bd-64a3-40fd-80a7-7df2cfd0deaa]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>