<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3399aab-72bd-485c-8808-5d1038b85388" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="196c06ee-afb2-466a-aa64-8453e9b67c7f">Merchello</Parent>
    <Path>/Merchello/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-02T15:01:12</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c1edd-4924-708d-b50d-5f128860520e">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[f54fdfdb-a280-4de3-9031-281d7f043e81]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>