<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf35298f-78f3-48d0-aaa5-074d97d84a5f" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="ae449aa0-764f-4d85-8f60-cc9deb7c5424">Merchello</Parent>
    <Path>/Merchello/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-12T11:06:28</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0daf9e9d-2987-4629-8a5b-4d31cb1918a7">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[84ea5973-fd70-4ca2-9d64-084f97f3c405]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>