<?xml version="1.0" encoding="utf-8"?>
<Content Key="be79ae75-93b6-461d-852b-51a1225d9c65" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="3f13466d-bb35-401e-b5f9-fc3378081003">Merchello</Parent>
    <Path>/Merchello/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-10T14:32:25</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="579eb0fa-e73e-438f-b03c-7f4282c44f34">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[24d0a5af-5de3-4868-a158-240a288446d6]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>