<?xml version="1.0" encoding="utf-8"?>
<Content Key="99ae5cd0-94e2-4460-bbff-927de2964fba" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="196c06ee-afb2-466a-aa64-8453e9b67c7f">Merchello</Parent>
    <Path>/Merchello/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-02T15:01:25</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c1edd-4924-708d-b50d-5f128860520e">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[a71c8872-8a69-4317-920c-6ef004da2858]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>