<?xml version="1.0" encoding="utf-8"?>
<Content Key="783bde0f-ef35-4d5a-80f6-b787096de01f" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="6a35813d-2241-46fc-930c-3aa463bcf083">Website</Parent>
    <Path>/Website/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-04T07:24:41</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c2788-7bc2-7478-adce-ab5726fd6ef9">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[f97116d4-afc0-4ab6-ace0-a82b320d9248]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>