<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2d24dcf-8387-48fd-8b51-a41a30dbc230" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="b3803bd0-651a-477e-b079-4ab0faa0e644">Merchello</Parent>
    <Path>/Merchello/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-06T15:12:03</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3380-af53-7e77-ae44-9246781ebbe9">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[ef31e791-d163-4f91-b33e-4e4af11937ef]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>