<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb4eecbe-61f2-44d4-9e4d-1a6382fd951e" Alias="Digital" Level="2">
  <Info>
    <Parent Key="0bb53893-ef64-40c7-903a-441299440c77">Website</Parent>
    <Path>/Website/Digital</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-06T13:13:38</CreateDate>
    <NodeName Default="Digital" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="59bfbf92-f0b8-4c95-827e-c70d5e0fd323">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[7ebd824e-674e-48b0-a226-c66b3a49a07d]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>