<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f896fb7-d8f8-4ae1-b4d3-c24fbbbef0b5" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="aee52c84-a9ce-445b-9290-7c4c1722f5f9">Website</Parent>
    <Path>/Website/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-11T13:43:25</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="53887691-e41c-4e94-bfae-0aa6c2199aae">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[f54a9c14-1795-4694-ab5f-97372129a826]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>