<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bde3b50-398b-423e-8088-1375104820f6" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="a84d1432-dc43-4944-9c9c-22b07902c3ee">Website</Parent>
    <Path>/Website/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-09T16:52:32</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="96f773e6-0aec-4199-a605-c9432b263a18">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[f09b1eed-6a79-4b10-8228-2d19c2545917]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>