<?xml version="1.0" encoding="utf-8"?>
<Content Key="f61796b3-f522-4874-8c1b-0ff4cb80746d" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="ae449aa0-764f-4d85-8f60-cc9deb7c5424">Merchello</Parent>
    <Path>/Merchello/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-01-12T11:06:41</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0daf9e9d-2987-4629-8a5b-4d31cb1918a7">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[f8e3905b-5dde-4dfe-a1b0-e2b634f53c7c]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>