<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7a9042a-181c-4381-9b89-5bf9f35d5a13" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="990ebcee-1634-4843-912c-dd7d0cdaf0b1">Merchello</Parent>
    <Path>/Merchello/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-09T15:54:13</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c431a-3752-7920-b04f-7db46db4a8f6">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[51692802-6236-46ee-b75a-5358b0019b94]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>