<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e8ec25d-4ee5-4c7c-a20c-2746d5a8e5e1" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="69c8ef21-434d-455a-a877-b13aad7e3c50">Website</Parent>
    <Path>/Website/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-08T07:39:42</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3c2f-44a7-75dd-9118-9a3f68da9348">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[10cb566f-c967-4444-8f30-e03bba847cd6]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>