<?xml version="1.0" encoding="utf-8"?>
<Content Key="134b5ec0-c7ad-493d-a888-ce2d8c44cf51" Alias="Drinkware" Level="2">
  <Info>
    <Parent Key="196c06ee-afb2-466a-aa64-8453e9b67c7f">Merchello</Parent>
    <Path>/Merchello/Drinkware</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-02T15:01:36</CreateDate>
    <NodeName Default="Drinkware" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c1edd-4924-708d-b50d-5f128860520e">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[337abc5d-f01a-4d4c-b809-36a391b30afd]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>