<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8f3f001-8fcd-4f5c-bbd3-6fa8688851e0" Alias="Drinkware" Level="2">
  <Info>
    <Parent Key="69c8ef21-434d-455a-a877-b13aad7e3c50">Website</Parent>
    <Path>/Website/Drinkware</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-08T07:39:55</CreateDate>
    <NodeName Default="Drinkware" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3c2f-44a7-75dd-9118-9a3f68da9348">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[0f32ae74-2b3f-4b49-862f-a5992dea41a0]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>