<?xml version="1.0" encoding="utf-8"?>
<Content Key="0daa0a2f-841f-4b99-a909-3fe7723f903c" Alias="Home" Level="2">
  <Info>
    <Parent Key="69c8ef21-434d-455a-a877-b13aad7e3c50">Website</Parent>
    <Path>/Website/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-02-08T07:38:40</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3c2e-3dd3-7836-bb22-399f0bdc90ac">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>