<?xml version="1.0" encoding="utf-8"?>
<Content Key="d079e04a-a208-400a-b2f5-9ee839eb1877" Alias="Home" Level="2">
  <Info>
    <Parent Key="b3803bd0-651a-477e-b079-4ab0faa0e644">Merchello</Parent>
    <Path>/Merchello/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-02-06T15:11:03</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3380-ed8c-73f8-9778-d5e925ff134b">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>