<?xml version="1.0" encoding="utf-8"?>
<Content Key="247fb4f9-ee5d-4bcb-bf48-e03aea6ec0ca" Alias="Home" Level="2">
  <Info>
    <Parent Key="aee52c84-a9ce-445b-9290-7c4c1722f5f9">Website</Parent>
    <Path>/Website/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-01-11T13:42:33</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e4e4a5eb-29b5-4f99-9f03-7da12f523de4">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>