<?xml version="1.0" encoding="utf-8"?>
<Content Key="7eb36d5e-baa6-4316-88cb-ea8a73861490" Alias="Home" Level="2">
  <Info>
    <Parent Key="3f13466d-bb35-401e-b5f9-fc3378081003">Merchello</Parent>
    <Path>/Merchello/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-01-10T14:31:29</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6d38e63f-e5e8-4012-a7e2-b11333deb6a9">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>