<?xml version="1.0" encoding="utf-8"?>
<Content Key="e25bf347-40e6-4979-9955-0f4718c860be" Alias="Home" Level="2">
  <Info>
    <Parent Key="0bb53893-ef64-40c7-903a-441299440c77">Website</Parent>
    <Path>/Website/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-01-06T13:12:39</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a93dfe2e-1a41-4fee-9f0d-e072cee95b2c">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>