<?xml version="1.0" encoding="utf-8"?>
<Content Key="d090792f-8e95-4e8b-b419-54b0805c2da5" Alias="Home" Level="2">
  <Info>
    <Parent Key="b03f5244-4fce-4a5e-ab5e-035d368de37b">Merchello</Parent>
    <Path>/Merchello/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-01-03T07:51:34</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="631302bc-359e-4478-b94c-85417dd5d373">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>