<?xml version="1.0" encoding="utf-8"?>
<Content Key="9aad3f97-9a18-4f5f-b993-bbee0ef3ecd6" Alias="Home" Level="2">
  <Info>
    <Parent Key="f3e4234e-eaab-413e-9f65-21ba15157ee6">Website</Parent>
    <Path>/Website/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-01-05T15:16:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f6de68a-6c84-4445-a10a-6d3e1b746ab6">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>