<?xml version="1.0" encoding="utf-8"?>
<Content Key="b03f5244-4fce-4a5e-ab5e-035d368de37b" Alias="Merchello" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Merchello</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2026-01-03T07:51:26</CreateDate>
    <NodeName Default="Merchello" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0440a2fd-af80-4daa-8cda-0bfaa965f301">Website</Template>
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/d090792f8e954e8bb41954b0805c2da5]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>