<?xml version="1.0" encoding="utf-8"?>
<Content Key="196c06ee-afb2-466a-aa64-8453e9b67c7f" Alias="Merchello" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Merchello</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2026-02-02T15:00:12</CreateDate>
    <NodeName Default="Merchello" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c1edc-4f9f-7b05-8fe8-d5a0035d91ed">Website</Template>
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/a0f9697c1ca54232b5c7b3320a265887]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>