<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f13466d-bb35-401e-b5f9-fc3378081003" Alias="Merchello" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Merchello</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2026-01-10T14:31:22</CreateDate>
    <NodeName Default="Merchello" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9276fd32-08fb-441b-98f4-9ae8a85c84d3">Website</Template>
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/7eb36d5ebaa6431688cbea8a73861490]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>