<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae449aa0-764f-4d85-8f60-cc9deb7c5424" Alias="Merchello" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Merchello</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2026-01-12T11:05:36</CreateDate>
    <NodeName Default="Merchello" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8afcd0e2-ce09-42f1-91c1-59f26230e565">Website</Template>
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/62c93ad7a53a46e79fb4862e7822d564]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>