<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e3f35a0-214f-4324-b061-fce96a4410d4" Alias="This is a name element here" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ThisIsANameElementHere</Path>
    <Trashed>false</Trashed>
    <ContentType>example</ContentType>
    <CreateDate>2025-12-10T07:54:38</CreateDate>
    <NodeName Default="This is a name element here" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <another>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThis is a tip ta edtor I want to use on a product\u003C/p\u003E"
}]]></Value>
    </another>
    <exampleOne>
      <Value><![CDATA[Text box]]></Value>
    </exampleOne>
    <testingToo>
      <Value><![CDATA[]]></Value>
    </testingToo>
  </Properties>
</Content>