<?xml version="1.0" encoding="utf-8"?>
<Content Key="69c8ef21-434d-455a-a877-b13aad7e3c50" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2026-02-08T07:38:31</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c3c2d-df9f-780b-8e46-12f2a1cfe10f">Website</Template>
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/0daa0a2f841f4b99a9093fe7723f903c]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>