<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a35813d-2241-46fc-930c-3aa463bcf083" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2026-02-04T07:23:29</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c2787-6244-734f-a612-63868214be03">Website</Template>
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/646f84d805684f5ea0786a38085e8229]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>