<?xml version="1.0" encoding="utf-8"?>
<Content Key="a84d1432-dc43-4944-9c9c-22b07902c3ee" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2026-01-09T16:48:40</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bb41e3ad-8e07-41fc-8377-45c525b64b0d">Website</Template>
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/b0bd6d3a9f504714bc0e5bcb06e453e6]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>