<?xml version="1.0" encoding="utf-8"?>
<Media Key="329cfad9-ad98-4ff9-bf59-dca02ca59d11" Alias="c-conti-drawer.png" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/cContiDrawerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:42</CreateDate>
    <NodeName Default="c-conti-drawer.png" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kyynvbhr/c-conti-drawer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>