<?xml version="1.0" encoding="utf-8"?>
<Media Key="9890823c-9872-4bb8-8122-38e62ca72f81" Alias="charcoal.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/charcoaljpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:41</CreateDate>
    <NodeName Default="charcoal.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wnenmlq1/charcoal.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>