<?xml version="1.0" encoding="utf-8"?>
<Media Key="072e2c90-0e84-45eb-806c-dc716002de26" Alias="d-four-drawer.png" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/dFourDrawerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:41</CreateDate>
    <NodeName Default="d-four-drawer.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d5tgrmpn/d-four-drawer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>