<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cb4d909-3ff2-4357-8c34-e5704f20c9d3" Alias="Deadpool" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Deadpool</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T14:32:23</CreateDate>
    <NodeName Default="Deadpool" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qyjpfcu1/screenshot-2024-02-10-083626.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>