<?xml version="1.0" encoding="utf-8"?>
<Media Key="e34899ae-86f9-4c0f-b1c8-594527bb57da" Alias="deselect.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/deselectjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:41</CreateDate>
    <NodeName Default="deselect.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/efjb2vmq/deselect.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>