<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6d040a7-2d98-4819-b64e-c8c46920e096" Alias="f-side-drawer.png" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/fSideDrawerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:42</CreateDate>
    <NodeName Default="f-side-drawer.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fcfjmqhr/f-side-drawer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>