<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cd8b87d-e81f-47f2-849c-b5855a5fc7cf" Alias="grey.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/greyjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:41</CreateDate>
    <NodeName Default="grey.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4jzj3gtw/grey.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>