<?xml version="1.0" encoding="utf-8"?>
<Media Key="3177f2ce-584a-4a07-bd90-baafbd0238df" Alias="linosa.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/linosajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:41</CreateDate>
    <NodeName Default="linosa.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ie2ddbzd/linosa.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>