<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7e92cbb-6114-48cf-b315-3354e4a424bf" Alias="marine.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/marinejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:42</CreateDate>
    <NodeName Default="marine.jpg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gttk4ql3/marine.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>