<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e4eb60c-266d-4f14-8e78-d26ac4daa87a" Alias="orders-details.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ordersDetailspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-10T07:47:21</CreateDate>
    <NodeName Default="orders-details.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qn4ar0ae/orders-details.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>