<?xml version="1.0" encoding="utf-8"?>
<Media Key="861fae37-ec3e-4672-aa2a-1f6bde95cc7a" Alias="p-side-drawer.png" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/pSideDrawerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:41</CreateDate>
    <NodeName Default="p-side-drawer.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xbsfsmcx/p-side-drawer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>