<?xml version="1.0" encoding="utf-8"?>
<Media Key="b88fd6be-a815-4621-aae1-2aa481915321" Alias="platinum.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/platinumjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:43</CreateDate>
    <NodeName Default="platinum.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/geomsdt2/platinum.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>