<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f429d52-5779-41e4-88c3-69643d4bee03" Alias="pocket-dream-1000.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/pocketDream1000jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:41</CreateDate>
    <NodeName Default="pocket-dream-1000.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1vlbjoiq/pocket-dream-1000.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>