<?xml version="1.0" encoding="utf-8"?>
<Media Key="11c28208-64e9-4ca5-813d-036195199698" Alias="pocket-dream-1000-6.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/pocketDream10006jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:41</CreateDate>
    <NodeName Default="pocket-dream-1000-6.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/q3eijj2a/pocket-dream-1000-6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>