<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6869690-f175-491a-ade0-bf42d7885d52" Alias="pocket-dream-1000-2.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/pocketDream10002jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:41</CreateDate>
    <NodeName Default="pocket-dream-1000-2.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d3oma2a2/pocket-dream-1000-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>