<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8352ee2-4bac-46a5-a0bf-78d7c67e1c0f" Alias="pocket-dream-1000-5.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/pocketDream10005jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:41</CreateDate>
    <NodeName Default="pocket-dream-1000-5.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nxshghwf/pocket-dream-1000-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>