<?xml version="1.0" encoding="utf-8"?>
<Media Key="e48887bf-ff0e-47fc-bbc2-b7f0d0d5ac2c" Alias="Testing" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Testing</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-10T13:45:12</CreateDate>
    <NodeName Default="Testing" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>