<?xml version="1.0" encoding="utf-8"?>
<Media Key="e72d0480-c59e-46e3-8ed7-e5975a6a4d3b" Alias="truffle.jpg" Level="2">
  <Info>
    <Parent Key="61152a2b-5060-4362-8816-1aba86329ba2">Beds</Parent>
    <Path>/Beds/trufflejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T12:16:42</CreateDate>
    <NodeName Default="truffle.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/b5hgwupx/truffle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>