<?xml version="1.0" encoding="utf-8"?>
<DataType Key="271aa39f-dcfa-4cb2-abb1-1fe9ed3129fe" Alias="Merchello Collection Picker [Single]" Level="1">
  <Info>
    <Name>Merchello Collection Picker [Single]</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Merchello.PropertyEditorUi.CollectionPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxItems": 1
}]]></Config>
</DataType>