<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3cdb7c39-4c2b-4e16-a2d6-bfee0cd40df9" Alias="Merchello Collection Picker [Single]" Level="1">
  <Info>
    <Name>Merchello Collection Picker [Single]</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Merchello.PropertyEditorUi.CollectionPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxItems": 1
}]]></Config>
</DataType>