<?xml version="1.0" encoding="utf-8"?>
<DataType Key="982535f1-1658-4fed-9529-b0dfc8588f94" Alias="Merchello Collection Picker [Single]" Level="1">
  <Info>
    <Name>Merchello Collection Picker [Single]</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Merchello.PropertyEditorUi.CollectionPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxItems": 1
}]]></Config>
</DataType>