<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f58025f1-566c-4675-bfa6-05a0ed8c5584" Alias="Multiple Text String" Level="1">
  <Info>
    <Name>Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>