<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6028c044-98e3-47dc-8a48-f3d1914b81d0" Alias="Multiple Text String" Level="1">
  <Info>
    <Name>Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>