<?xml version="1.0" encoding="utf-8"?>
<DataType Key="525373b2-498b-41cb-83ee-a7dc2d9af722" Alias="Multiple Text String" Level="1">
  <Info>
    <Name>Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>