<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4d44c2a-ea00-4fd4-b41b-0aed4e2b757b" Alias="Product - Multiple Text String" Level="1">
  <Info>
    <Name>Product - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 8,
  "min": 0
}]]></Config>
</DataType>